<p>{{#link-to "posts.new"}}New post{{/link-to}}</p>

<ul>
{{#each model as |post|}}
  <li>{{#link-to "posts.show" post}}{{post.title}}{{/link-to}} {{#link-to "posts.edit" post}}(edit){{/link-to}} -- {{post.body}} -- {{moment-from-now post.createdAt}}</li>
{{/each}}
</ul>

<p>{{#link-to "sign-out"}}Sign out{{/link-to}}</p>
